Pipeline.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Pipelines">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="1" minOccurs ="0" name="CommonFiles">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Transforms" type="Transforms" />
            </xs:sequence>
          </xs:complexType>
        </xs:element>
        <xs:element maxOccurs="unbounded" name="Pipeline">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="Transforms" type="Transforms" />
            </xs:sequence>
            <xs:attribute name="id" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:complexType name="Transforms">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="Transform">
        <xs:complexType>
          <xs:attribute name="href" type="xs:string" use="required" />
        </xs:complexType>
      </xs:element>
    </xs:sequence>
  </xs:complexType>
</xs:schema>